@model TurismoRealWeb.BLL.Inventario
@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy',
            minDate: new Date()
        });

        $("#txtFech").change(function () {
            alert($("#txtFech").val());
        });

    });
</script>

<div class="card-body">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success" onclick="location.href ='@Url.Action("Index", "Inventario")'">Inventario de Departamentos</button>
        </div>
    </div>
    <div class="card col-md-5" style="margin: 20px 20px; width: 500px; height: 600px; ">
        @using (Html.BeginForm())
        {
            <h3 class="card-header" style="text-align:center;">Nuevo Item de Departamento</h3>
            <div class="card-body" style="width:60%; margin:0 auto;padding:20px;">
                @Html.ValidationSummary()

                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.LabelFor(i => i.Item)
                    </div>
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.TextBoxFor(i => i.Item)
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.LabelFor(i => i.Dpto)
                    </div>
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.DropDownListFor(i => i.DptoId, new SelectList(ViewBag.departamentos, "Id", "Nombre"))
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.LabelFor(i => i.Valor)
                    </div>
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.TextBoxFor(i => i.Valor)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:10px">
                        @Html.LabelFor(i => i.FechComp)
                    </div>
                    <div class="col-md-6" style="padding:10px">
                        @*@Html.EditorFor(i => i.FechComp,
                                       new
                                            {
                                           HtmlAttributes = new
                                           {
                                               @readonly = "true",
                                               Value = Model.FechComp.ToString("dd/mm/yyyy"),
                                               @class = "form-control datepicker",
                                               id = "txtFech"
                                           }
                                       })*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:10px">
                        @Html.LabelFor(d => d.Disponible)
                    </div>
                    <div class="col-md-6" style="padding:10px">
                        @Html.CheckBoxFor(d => d.IsDisp)
                    </div>
                </div>



                <br />
                <div class="row" style="margin-top:12px;text-align:center;">
                    <button type="submit" value="Guardar" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>
