@model TurismoRealWeb.BLL.Departamento
@{
    ViewBag.Title = "Create";
}


<div class="card-body">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success" onclick="location.href ='@Url.Action("Index", "Departamento")'">Listado de Departamentos</button>
        </div>
    </div>
    <div class="col-md-5" style="margin: 20px 20px; width: 700px; height: 600px; background-color: #f2f2f2 ">
        @using (Html.BeginForm())
        {
            <h3 style="text-align:center;">Nuevo Departamento</h3>
            <div style="width:60%; margin:0 auto;padding:20px;">
                @Html.ValidationSummary()
                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.TextBoxFor(d => d.Nombre, new { @placeholder = "Departamento", @class = "form-control" })
                        <label for="Nombre">Nombre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.TextBoxFor(d => d.Direccion, new { @placeholder = "Direccion", @class = "form-control" })
                        <label for="Direccion">Dirección</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.TextBoxFor(d => d.NumDpto, new { @placeholder = "NumDpto", @class = "form-control" })
                        <label for="NumDpto">N° Departamento</label>
                    </div>
                </div>
                <div class="row">                    
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.LabelFor(d => d.Ciudad)
                        @Html.DropDownListFor(d => d.CiudadId, new SelectList(ViewBag.ciudades, "Id", "Nombre"))
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.TextBoxFor(d => d.Superficie, new { @placeholder = "Superficie", @class = "form-control" })mt2
                        <label for="Superficie">Superficie</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.TextBoxFor(d => d.Precio, new { @placeholder = "Precio", @class = "form-control" })
                        <label for="Precio">Precio</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.CheckBoxFor(d => d.IsDisp)
                        <label for="IsDisp">Disponible</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating mb-3" style="padding:10px">
                        @Html.TextBoxFor(d => d.Condicion, new { @placeholder = "Condicion", @class = "form-control" })
                        <label for="Condicion">Condición</label>
                    </div>
                </div>

                <br />
                <div class="row" style="margin-top:12px;text-align:center;">
                    <button type="submit" value="Guardar" class="btn btn-primary">Submit</button>
                </div>
            </div>
        }

    </div>
</div>



