@model TurismoRealWeb.BLL.Departamento
@{
    ViewBag.Title = "Edit";
}

<br />
@Html.ActionLink("Listado de Departamentos", "Index")

<div class="col-md-5" style="margin: 20px 20px; width: 700px; height: 600px; background-color: #f2f2f2 ">
    @using (Html.BeginForm())
    {
        <h3 style="text-align:center;">Modificar Datos de Departamento</h3>
        <div style="width:60%; margin:0 auto;padding:20px;">
            @Html.ValidationSummary()
            @Html.HiddenFor(d => d.Id)
            <div class="row">
                <div class="form-floating mb-3" style="padding:10px">
                    @Html.TextBoxFor(d => d.Nombre)
                </div>
                <div class="form-floating mb-3">
                    @Html.LabelFor(d => d.Nombre)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(d => d.Direccion)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.TextBoxFor(d => d.Direccion)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(d => d.Ciudad)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.DropDownListFor(d => d.CiudadId, new SelectList(ViewBag.ciudades, "Id", "Nombre"))
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(d => d.Superficie)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.TextBoxFor(d => d.Superficie)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(d => d.Precio)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.TextBoxFor(d => d.Precio)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(d => d.Disponible)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.CheckBoxFor(d => d.IsDisp)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(d => d.Condicion)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.TextBoxFor(d => d.Condicion)
                </div>
            </div>

            <br />
            <div class="row" style="margin-top:12px;text-align:center;">
                <button type="submit" value="Modificar" class="btn btn-primary">Submit</button>
            </div>
        </div>
    }

</div>



