@using TurismoRealWeb.BLL;
@{
    ViewBag.Title = "Index";
}

@{ List<Departamento> departamentos = (List<Departamento>)ViewBag.departamentos;}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Departamentos</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-building me-1"></i> Lista de Departamentos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="Dptos" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>N° Dpto</th>
                    <th>Direccion</th>
                    <th>Ciudad</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var departamento in departamentos)
                {
                    <tr>
                        <td>@departamento.Nombre</td>
                        <td>@departamento.NumDpto</td>
                        <td>@departamento.Direccion</td>
                        <td>@departamento.Ciudad.Nombre</td>
                        <td>@departamento.Estado</td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = departamento.Id }, new { btn1 = "details", @class = "btn btn-warning" })
                            @Html.ActionLink("Modificar", "Edit", new { id = departamento.Id }, new { btn1 = "edit", @class = "btn btn-success" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = departamento.Id },
                                             new { onclick = "return confirm('¿Está seguro que desea eliminar este registro?');", btn2 = "del", @class = "btn btn-danger" })
                        </td>

                    </tr>
                }*@
            </tbody>
        </table>


    </div>
</div>

@section scripts{
    <script>

        var tabladata;

        jQuery.ajax({
            url: '@Url.Action("ListarDptos", "Departamento")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data)
            }
        })

        tabladata = $("#Dptos").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarDptos", "Departamento")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Nombre" },
                { "data": "NumDpto" },
                { "data": "Direccion" },
                { "data": "Ciudad.Nombre" },
                {
                    "data": "Disponible", "render": function (valor) {
                        if (valor == 1) {
                            return '<span class="badge bg-success">Disponible</span>'
                        } else {
                            return '<span class="badge bg-danger">No Disponible</span>'
                        }
                    }

                },
                {
                    "defaultContent": '<button type="button" class="btn btn-warning btn-sm"><i class="fas fa-file"></i></button>' +
                                      '<button type="button" class="btn btn-primary btn-sm ms-2"><i class="fas fa-pen"></i></button>' +
                                      '<button type="button" class="btn btn-danger btn-sm ms-2"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "100px"
                }
            ]
        });

    </script>


    }










@*@{ List<Departamento> departamentos = (List<Departamento>)ViewBag.departamentos;}
    @Html.ActionLink("Crear Departamento","Create", new { btnc = "crea", @class = "btn btn-success" })

    <table id="tabla">
        <tr>
            <th>Nombre</th>
            <th>N° Dpto</th>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Estado</th>
            <th>Opciones</th>

        </tr>
        @foreach (var departamento in departamentos)
        {
    <tr>
        <td>@departamento.Nombre</td>
        <td>@departamento.NumDpto</td>
        <td>@departamento.Direccion</td>
        <td>@departamento.Ciudad.Nombre</td>
        <td>@departamento.Estado</td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id = departamento.Id }, new { btn1 = "details", @class = "btn btn-warning" })
            @Html.ActionLink("Modificar", "Edit", new { id = departamento.Id }, new { btn1 = "edit", @class = "btn btn-success" })
            @Html.ActionLink("Eliminar", "Delete", new { id = departamento.Id },
                             new { onclick = "return confirm('¿Está seguro que desea eliminar este registro?');", btn2 = "del", @class = "btn btn-danger" })
        </td>

    </tr>
        }

    </table>


    @TempData["mensaje"]*@