<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Turismo Real</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@    
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="@Url.Action("Index","Home")">Turismo Real</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        @*<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>*@
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    @*<li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>*@
                    <li><a class="dropdown-item" href="@Url.Action("LogOut", "Auth")">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Resumen</div>
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Usuario")">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Usuarios
                        </a>
                        <div class="sb-sidenav-menu-heading">Mantenedores</div>
                        <a class="nav-link" href="@Url.Action("Index","Departamento")">
                            <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                            Departamentos
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Reserva")">
                            <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                            Reservas
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Arriendo")">
                            <div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
                            Arriendos
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Servicio")">
                            <div class="sb-nav-link-icon"><i class="fas fa-concierge-bell"></i></div>
                            Servicios
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Mantencion")">
                            <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                            Mantenciones
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Inventario")">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                            Inventario
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">                    
                    <div class="small">Logged in as:</div>
                    @User.Identity.Name
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">


                    <!--Success Dialog Start-->
                    <div id="myModalSuccess" class="modal fade fa-text-width: 30%;" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document"> 
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">Correcto!</h2>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="myModalSuccessAlertBody" class="modal-body alert alert-success">
                                    This is a modal body. our msessage will appear here.
                                </div>
                                <div class="modal-footer">
                                    &nbsp;
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--Success Dialog End-->

                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Turismo Real 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    @*@User.Identity.Name
        @if (User.Identity.IsAuthenticated)
        {
            <li class:"log">
                <a href="#">@User.Identity.Name</a>
            </li>
            <li class:"log">
                @Html.ActionLink("Cerrar Sesión", "LogOut", "Auth")
            </li>
        }
        else
        {
            <li class:"log">
                @Html.ActionLink("Iniciar Sesión", "Login", "Auth")
            </li>
        }*@
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
