@model TurismoRealWeb.BLL.Mantencion

@{
    ViewBag.Title = "Create";
}

@Html.ActionLink("Listado de Mantenciones", "Index")

<div class="col-md-5" style="margin: 20px 20px; width: 700px; height: 600px; background-color: #f2f2f2 ">
    @using (Html.BeginForm())
    {
        <h3 style="text-align:center;">Nueva Mantención</h3>
        <div style="width:60%; margin:0 auto;padding:20px;">
            @Html.ValidationSummary()

            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(i => i.Dpto)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.DropDownListFor(i => i.DptoId, new SelectList(ViewBag.departamentos, "Id", "Nombre"))
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(i => i.Descripcion)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.TextBoxFor(i => i.Descripcion)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(i => i.Fech_ini)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.EditorFor(i => i.Fech_ini, new { HtmlAttributes = new { @class = "datepicker" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(i => i.Fech_term)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.EditorFor(i => i.Fech_term, new { HtmlAttributes = new { @class = "datepicker" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(i => i.Costo)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.TextBoxFor(i => i.Costo)
                </div>
            </div>
            <br />
            <div class="row" style="margin-top:12px;text-align:center;">
                <button type="submit" value="Guardar" class="btn btn-primary">Submit</button>
            </div>
        </div>
     }
</div>


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts
{
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $('.datepicker').datepicker({
                firstDay: 1,
                dateFormat: 'dd/mm/yy',
                changemonth: true,
                changeyear: true,
                showOn: "button",
                buttonText: 'Seleccione..',
                minDate: new Date()                
            });
        });
    </script>
}

