@model TurismoRealWeb.BLL.Mantencion

@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts
    {
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>

}


<div class="card-body">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success" onclick="location.href ='@Url.Action("Index", "Mantencion")'">Listado de Mantenciones</button>
        </div>
    </div>

    <div class="col-md-5" style="margin: 20px 20px; width: 700px; height: 600px; background-color: #f2f2f2 ">
        @using (Html.BeginForm())
        {
            <h3 style="text-align:center;">Modificar Mantención</h3>
            <div style="width:60%; margin:0 auto;padding:20px;">
                @Html.ValidationSummary()
                @Html.HiddenFor(i => i.Id)
                <div class="row">
                    <div class="col-md-6" style="padding:10px">
                        @Html.LabelFor(i => i.Dpto)
                    </div>
                    <div class="col-md-6" style="padding:10px">
                        @Html.DropDownListFor(i => i.DptoId, new SelectList(ViewBag.departamentos, "Id", "Nombre"))
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:10px">
                        @Html.LabelFor(i => i.Descripcion)
                    </div>
                    <div class="col-md-6" style="padding:10px">
                        @Html.TextBoxFor(i => i.Descripcion)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:10px">
                        @Html.LabelFor(i => i.Fech_ini)
                    </div>
                    <div class="col-md-6" style="padding:10px">
                        @Html.EditorFor(i => i.Fech_ini, new { htmlAttributes = new { @class = "form-control", placeholder = "Fecha Inicio ", @readonly = "true" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:10px">
                        @Html.LabelFor(i => i.Fech_term)
                    </div>
                    <div class="col-md-6" style="padding:10px">
                        @Html.EditorFor(i => i.Fech_term, new { htmlAttributes = new { @class = "form-control", placeholder = "Fecha Término ", @readonly = "true" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:10px">
                        @Html.LabelFor(i => i.Costo)
                    </div>
                    <div class="col-md-6" style="padding:10px">
                        @Html.TextBoxFor(i => i.Costo)
                    </div>
                </div>

                <br />
                <div class="row" style="margin-top:12px;text-align:center;">
                    <button type="submit" value="Modificar" class="btn btn-primary">Modificar</button>
                </div>
            </div>
        }
    </div>
</div>

