@model TurismoRealWeb.BLL.Mantencion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.ActionLink("Lista de Mantenciones", "Index", new { btnl = "list", @class = "btn btn-success" })

<div class="col-md-5" style="margin: 20px 20px; width: 700px; height: 600px; background-color: #f2f2f2 ">
    @using (Html.BeginForm())
    {
        <h3 style="text-align:center;">Nuevo Item de Departamento</h3>
        <div style="width:60%; margin:0 auto;padding:20px;">
            @Html.ValidationSummary()
            @Html.HiddenFor(i => i.Id)
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(i => i.Dpto)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.DropDownListFor(i => i.DptoId, new SelectList(ViewBag.departamentos, "Id", "Nombre"))
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(i => i.Descripcion)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.TextBoxFor(i => i.Descripcion)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(i => i.Fech_ini)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.EditorFor(i => i.Fech_ini, new { HtmlAttributes = new { @class = "datepicker" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding:10px">
                    @Html.LabelFor(i => i.Fech_term)
                </div>
                <div class="col-md-6" style="padding:10px">
                    @Html.EditorFor(i => i.Fech_term, new { HtmlAttributes = new { @class = "datepicker" } })
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding:10px">
                        @Html.LabelFor(i => i.Costo)
                    </div>
                    <div class="col-md-6" style="padding:10px">
                        @Html.TextBoxFor(i => i.Costo)
                    </div>
                </div>

                <br />
                <div class="row" style="margin-top:12px;text-align:center;">
                    <button type="submit" value="Modificar" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
      }
</div>