@using TurismoRealWeb.BLL;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estadías</title>
</head>
<body>
    @{ List<Arriendo> arriendos = (List<Arriendo>)ViewBag.arriendos;}
    <br />
    <div class="card mb-2">
        <div class="card-header">
            <i class="fas fa-list me-1"></i>
            Historial de Arriendos
        </div>
        @using (Html.BeginForm("Buscar", "Arriendo"))
        {
            <div style="padding: 25px">
                <input type="text" name="txtBuscar" value="" />
                <input type="submit" value="Buscar" />
            </div>
        }
        <div class="card-body">
            <div>
                <table id="tabla" class="table table-hover table-striped table-bordered" style="width: 100%">
                    <tr>
                        <th>Id</th>
                        <th>Cliente</th>
                        <th>Fecha Entrada</th>
                        <th>Fecha Salida</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th>Total Arriendo</th>
                        <th>Total Servicios</th>
                        <th>Opciones</th>

                    </tr>
                    @foreach (var arriendo in arriendos)
                    {
                        <tr>
                            <td>@arriendo.Id</td>
                            <td>@arriendo.Cliente.Nombre @arriendo.Cliente.Paterno @arriendo.Cliente.Materno</td>
                            <td>@arriendo.FecIni.ToShortDateString()</td>
                            <td>@arriendo.FecFin.ToShortDateString()</td>
                            <td>@(arriendo.CheckIn == "1" ? "Si":"No")</td>
                            <td>@(arriendo.Checkout == "1" ? "Si":"No")</td>
                            <td>@arriendo.Total</td>
                            <td>@arriendo.total_serv</td>
                            <td>
                                @if (arriendo.CheckIn == "0")
                                {
                                   <button class="btn btn-primary btn-sm-2" onclick="location.href='@Url.Action("CheckIn","Arriendo", new { id = arriendo.Id })'"><i class="fas fa-clipboard-check"></i>Check In </button>
                                }
                                @if (arriendo.Checkout != "1" && arriendo.CheckIn == "1")
                                {
                                    <button class="btn btn-danger btn-sm-2" onclick="location.href='@Url.Action("CheckOut","Arriendo", new { id = arriendo.Id })'"><i class="fas fa-clipboard-check"></i>Check Out </button>
                                }
                                

                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</body>
</html>

@section scripts{
    <script type="text/javascript">

        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("myModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;

            $('#myModalSuccess').modal("show");
        }


        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });



    </script>
}